@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-wave {
    animation: wave 1.8s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
  }
  @keyframes wave {
    0%, 60%, 100% { transform: rotate(0deg); }
    10% { transform: rotate(12deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(18deg); }
    40% { transform: rotate(-2deg); }
    50% { transform: rotate(12deg); }
  }
  .animate-gradient-xy {
    animation: gradientMove 9s ease-in-out infinite alternate;
    background-size: 200% 200%;
  }
  @keyframes gradientMove {
    0% { background-position: 0% 50% }
    100% { background-position: 100% 50% }
  }
  .animate-pulse-slow {
    animation: pulse 3.4s cubic-bezier(.4,0,.6,1) infinite;
  }
}
